@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.App-header {
  background-color: #777DA7;;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.paw-icon {
  width: 7vh;
  height: auto;
  padding: 2vh;
}

.title {
  font-size: 22px;
  font-family: 'Libre Baskerville', serif;
  color: #F4FFFD;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  padding: 2vh;
  font-size: 16px;
  color: #211103;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: 400;
}

button {
  background-color: transparent;
  border-color: transparent;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mostrar-mais {
  text-align: center;
  padding: 2vh;
  font-size: 15px;
  color: #ED254E;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: 400;
}